# ======================== #
# Rename to .env to enable #
# ======================== #
# KIE.AI API SECRET KEY
KIE_KEY=your-api-key-goes-here
# FIRE CRAWL API SECRET KEY
FIRE_KEY=your-api-key-goes-here